################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PROG8840_Calc/.vs
/PROG8840_Calc/Debug
/PROG8840_Calc/PROG8840_Calc/Debug
/.vs
/PROG8840_Calc/x64/Debug/PROG8840_Calc.pdb
/PROG8840_Calc/main.c
/PROG8840_Calc/PROG8840_Calc/x64/Debug/main.obj
/PROG8840_Calc/PROG8840_Calc/x64/Debug/PROG8840_Calc.ilk
/PROG8840_Calc/PROG8840_Calc/x64/Debug/PROG8840_Calc.log
/PROG8840_Calc/PROG8840_Calc/x64/Debug/vc143.idb
/PROG8840_Calc/PROG8840_Calc/x64/Debug/vc143.pdb
